button#uploadButton{
    opacity: 1;
    background-color: transparent;
    border: none;
}

button#optionButton{
    opacity: 1;
}

img#uploadButtonImage{
    width: 75px
}

div.eqmenu li{
    display: flex;
    width: 100%;
    height: 15%;
    padding-top: 20px;
    justify-content: center;
}

div.eqmenu ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    gap: 10px;
    padding-top: 20px;
    justify-content: center;
}

div.eqmenu ul button{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
}

div.eqmenu ul button:hover{
    cursor: pointer;
}

.button-gradient-round {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, 
                linear-gradient(90deg, rgb(133, 255, 255) 0%, rgba(0, 213, 255, 0.082) 100%) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
}