html {
    background-color: black;
}

div#content {
    height: 100%;
    width: 100%;
}

div.soundmenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 0 15px 15px 0;
    padding-right: 5%;
    top: 10%;
    right: 95%;
    height: 80%;
    width: 30%;
    opacity: 0;
    border-radius: 0px;
    border-width: 4px;
    background-color: purple;
    transition-duration: 1s;
    transition-property: right, background-color, opacity;
}

div.soundmenu:hover {
    position: flex;
    padding: 0 2.5% 0 2.5%;
    top: 10%;
    right: 65%;
    height: 80%;
    width: 30%;
    opacity: .85;
}

div.eqmenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-right: 5%;
    top: 5%;
    left: 90%;
    height: 90%;
    width: 30%;
    transition: 1s left;
    opacity: 0;
    border-radius: 0px;
    border-width: 4px;
    background-color: purple;
    transition-duration: 1s;
    transition-property: left, opacity;
}

div.eqmenu:hover {
    display: flex;
    top: 5%;
    left: 70%;
    height: 90%;
    width: 30%;
    opacity: 0.85;
}

canvas#canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.button-gradient-menu-left {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, 
                linear-gradient(90deg, rgb(133, 255, 255) 0%, rgba(0, 213, 255, 0.45) 100%) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
}

.button-gradient-menu-right {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, 
                linear-gradient(-90deg, rgb(133, 255, 255) 0%, rgba(0, 213, 255, 0.45) 100%) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#follow {
    display: none;
    position: absolute;
    text-align: center;
    z-index: -1;
}

#followImg {
    height: 100px;
}

#mottoPopUp {
    display: block;
    position: absolute;
    left: 15%;
    top: 20%;
    height: 60%;
    width: 70%;
    background-color: white;
    color: white;
    z-index: 10;
    opacity: 1;
    border-width: 4px;
    border-radius: 0px;
    transition: 1s opacity;
}

#mottoPopUp #mottoPopUpRemove{
    display: block;
    position: absolute;
    top: -20px;
    right: -20px;
}

#mottoPopUp #mottoPopUpRemove img{
    width: 45px;
}

#mottoPopUp #mottoText {
    display: block;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    padding: 25px;
}

br {
    margin-bottom: 10px;
}