audio {
    display: block;
    position: fixed;
    height: 25%;
    left: 0px;
    top: 90%;
    width: 100%;
    transition: 0.75s top, padding;
}

audio:hover {
    display: block;
    position: fixed;
    left: 0px;
    top: 75%;
    width: calc(100%);
}